{% extends "base.html" %}

{% block title %}Currnet{% endblock %}

{% block content %}

    <div class="container-fluid mt-5 member-container">
        <div class="d-flex justify-content-between align-items-center my-5">
            <h2 class="section-title">Current Members</h2>
        </div>

        <div class="row member-row">
            {% for member in members %}
            <div class="col-xs-6 col-sm-4 card-wrapper">
                <div class="card h-100">
                    <div class="image-wrapper d-block position-relative member-photo">
                        <img src="{{ url_for('static', filename=member.photo) }}" class="card-img-top" alt="Member Photo">
                    </div>
                    <div class="card-body text-center member-info">
                        <h5 class="card-title member-name">{{ member.name }}</h5>
                        <p class="card-text member-role">{{ member.role }}</p>
                        <p class="card-text text-muted member-email">{{ member.email }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}