{% extends "base.html" %}

{% block title %}Vision{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 vision-container">
        <div class="d-flex justify-content-between align-items-center my-5">
            <h2 class="section-title">Vision</h2>
        </div>
                
        <div class="row vision-row">

            <div class="col-md-12 vision-col">

                <div class="vision-row-innovative" data-aos="fade right" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="0">
                    <h1 class="h1-innovative">Innovative</h2>
                    <h5 class="h5-innovative">
                        We create leading-edge solutions using medical data and deep learning. 
                        Our focus is on innovative approaches that can be applied in clinical practice.
                    </h5>
                </div>

                <div class="vision-row-impactful" data-aos="fade left" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="0">
                    <h1 class="h1-impactful">Impactful</h2>
                    <h5 class="h5-impactful">
                        Our research drives real-world clinical improvements. 
                        We develop models and tools that enhance diagnosis and patient care.
                    </h5>
                </div>
                
                <div class="vision-row-collaborative" data-aos="fade right" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="0">
                    <h1 class="h1-collaborative">Collaborative</h2>
                    <h5 class="h5-collaborative">
                        We solve complex medical problems through multidisciplinary teamwork.
                        Collaboration and knowledge sharing are at the core of our lab.
                    </h5>
                </div>

            </div>
            
        </div>

    </div>

{% endblock %}